<!-- File Input Component -->
<div class="md-form md-form">
  <div *ngIf="selectedFiles.length > 0" class="container-fluid border rounded mt-2 mb-2 block-options">
    <!-- Show Cards -->
    <mdb-card class="w-25 h-50 mt-2 mb-2 mr-2" *ngFor="let image of selectedFiles">
      <!--Card image-->
      <mdb-card-img src="{{image.src}}" alt="Provider image"></mdb-card-img>

      <!--Card content-->
      <mdb-card-body class="mt-0">
        <div style="line-height: 0.75em;">
          <!-- Image Name -->
          <mdb-card-text class="text-center">
            <small>{{image.file.name}}</small>
          </mdb-card-text>

          <!-- Image Size -->
          <mdb-card-text class="text-center">
            <small>({{(image.file.size/1024).toPrecision(4)}} KB)</small>
          </mdb-card-text>
        </div>

        <div class="text-center">
          <!-- principal -->
          <a type="button"
              mdbTooltip="Mark as principal"
              placement="top"
              class="px-2 icons-sm"
              mdbWavesEffect
              (click)="markAsPrincipal(image)">

            <i *ngIf="!image.markAsPrincipal" class="fa fa-star-o" aria-hidden="true"></i>
            <i *ngIf="image.markAsPrincipal" class="fa fa-star" aria-hidden="true"></i>
          </a>
          <!-- remove -->
          <a type="button"
              mdbTooltip="Remove"
              placement="top"
              class="px-1 icons-sm"
              mdbWavesEffect
              (click)="removeImage(image)">

            <i class="fa fa-trash" aria-hidden="true"> </i>
          </a>
        </div>

      </mdb-card-body>
    </mdb-card>
  </div>

  <!-- Alert message -->
  <div #alert *ngIf="showError"
      class="alert alert-danger"
      alert-dismissible fade show role="alert"
      (click)="closeAlert()">

    <a type="button" class="close" aria-label="Close" mdbWavesEffect>
      <i class="fa fa-times"></i>
    </a>

    <p *ngIf="extensionError">
      Invalid extension for file <strong>{{fileName}}</strong>.
      Only <strong>"jpg, jpeg, gif, png"</strong> files are supported.
    </p>

    <p *ngIf="sizeError">
      Invalid size for file <strong>{{fileName}}</strong>.
      Only <strong>"2048 KB"</strong> per file are supported.
    </p>

    <p *ngIf="maxAllowed">
      Maximum number of images allowed is <strong>5</strong>.
    </p>
  </div>

  <!-- Input control -->
  <input #fileInput type="file" accept="image/*" multiple style="display: none;"
      (change)="onSelectFile($event)">

  <!-- Btn Select files -->
  <button mdbBtn
      outline="true" color="primary"
      aria-label="Close" mdbWavesEffect
      (click)="fileInput.click()">

    <i class="fa fa-picture-o mr-2" aria-hidden="true"></i>Select files ...
  </button>

</div>
