<!-- Main Layout -->
<app-layout>

  <app-header (sidenavToggle)="drawer.toggle()"></app-header>

  <mat-sidenav-container>
    <!-- Sidebar Material -->
    <mat-sidenav #drawer class="sidenav special-color-dark" fixedInViewport="true"
        [attr.role]="isHandSet$ ? 'dialog' : 'navigation'"
        [mode]="(isHandSet$ | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandSet$ | async)!.matches">

      <div class="list-group list-group-flush mt-4">
        <!-- Options Home -->
        <a routerLink="home" class="list-group-item list-group-item-action special-color-dark waves-effect">
          <i class="fa fa-home mr-2" aria-hidden="true"></i>Home
        </a>

        <!-- Options Providers -->
        <a routerLink="providers" class="list-group-item list-group-item-action special-color-dark waves-effect">
          <i class="fa fa-building-o mr-2" aria-hidden="true"></i>Providers
        </a>

        <!-- Options Categories -->
        <!-- <a routerLink="categories" class="list-group-item list-group-item-action special-color-dark waves-effect">
          <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i>Categories
        </a> -->

        <!-- Options Products -->
        <!-- <a routerLink="products" class="list-group-item list-group-item-action special-color-dark waves-effect">
          <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Products
        </a> -->

        <!-- Options Cashiers -->
        <!-- <a routerLink="cashiers" class="list-group-item list-group-item-action special-color-dark waves-effect">
          <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Cashier$
        </a> -->

        <!-- Options Orders -->
        <a routerLink="orders" class="list-group-item list-group-item-action special-color-dark waves-effect">
          <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>Orders
        </a>

      </div>

    </mat-sidenav>
    <!-- Sidebar Material -->

    <!-- Main Content -->
    <mat-sidenav-content>

      <!-- Workspace Content -->
      <main class="mx-lg-5 mt-5">
        <router-outlet></router-outlet>
      </main>

      <!-- Footer -->
      <!-- <app-footer></app-footer> -->

    </mat-sidenav-content>
    <!-- Main Content -->

  </mat-sidenav-container>

</app-layout>
<!-- Main Layout -->
