<div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">

        <!-- Material form login -->
        <mdb-card class="w-responsive mt-4">

          <!--Card Header-->
          <mdb-card-header class="primary-color white-text text-center py-4">
            <h5>
              <strong>Forgot password</strong>
            </h5>
          </mdb-card-header>

          <!--Card content-->
          <mdb-card-body class="px-lg-5">

            <form [formGroup]="forgotPasswordForm" class="tc-custom">
              <!-- Email -->
              <div class="md-form form-sm mt-5 mb-5">
                <i class="fa fa-envelope-o prefix" aria-hidden="true"></i>
                <input mdbInputDirective type="email" class="form-control"
                  id="formEmail" data-error="invalid email"
                  data-success="valid email" formControlName="email">

                <label for="formEmail">Email</label>
              </div>

              <div class="text-center">
                <!-- Send button -->
                <button mdbBtn [disabled]="loading" type="submit" class="btn-block btn-round-xs"
                  color="primary" outline="true" mdbWavesEffect (click)="send()">

                    Send<i class="fa fa-send ml-2" aria-hidden="true"></i>
                </button>
              </div>

            </form>

            <!-- Notification Container -->
            <div toastContainer></div>

          </mdb-card-body>

        </mdb-card>

      </div>

    </div>

  </div>

