<!-- Edit Category -->
<mdb-card id="header" class="w-responsive mt-4 center ml-auto mr-auto">

  <!--Card Header-->
  <mdb-card-header class="white-text text-center">
    <h4>
      <span class="badge badge-primary waves-light ml-2">
        <strong> {{title}} </strong>
      </span>
    </h4>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5">

    <form [formGroup]="editForm">

      <!-- Name -->
      <div class="md-form form-sm mt-2">
          <input mdbInputDirective type="text" class="form-control"
            id="formName" formControlName="name"
            [errorMessage]="nameError"
            [validateSuccess]="false">

        <label for="formName">Name</label>
      </div>

      <!-- Provider -->
      <div class="md-form form-sm mt-2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Provider" aria-label="Provider"
              [matAutocomplete]="auto" formControlName="providerName">

            <mat-error *ngIf="providerFormControl.errors">
              <p *ngIf="providerFormControl.errors.required"> provider is required </p>
              <p *ngIf="providerFormControl.errors.pattern"> only letters and numbers are allowed </p>
            </mat-error>

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let provider of currentProviders" [value]="provider.name">
                <img class="option-img" aria-hidden [src]="provider.image" height="40">

                <span>{{provider.name}}</span>
              </mat-option>

            </mat-autocomplete>

        </mat-form-field>

      </div>

      <!-- Image -->
      <div class="md-form form-sm mt-2">
        <input mdbInputDirective type="file" class="form-control"
            id="formImage" formControlName="image"
            data-error="Name is required"
            [validateSuccess]="false">

      </div>

      <!-- Description -->
      <div class="md-form form-sm mt-2">
        <textarea class="md-textarea md-textarea-auto form-control"
            id="formDescription" formControlName="description"
            mdbInputDirective type="text"
            [validateSuccess]="false"
            data-error="character not allowed"></textarea>

        <label for="formDescription">Description</label>
      </div>

      <div class="float-right mt-2">

        <button mdbBtn
            color="primary"
            class="relative waves-light right" mdbWavesEffect
            (click)="editCategory()">

          <!-- Create Mode -->
          <div *ngIf="!edit" >
            <i class="fa fa-plus left mr-2" aria-hidden="true"></i>Create
          </div>

          <!-- Edit Mode -->
          <div *ngIf="edit">
            <i class="fa fa-floppy-o left mr-2" aria-hidden="true"></i>Save
          </div>

        </button>

        <!-- Button Cancel -->
        <button mdbBtn
            outline="true" color="primary"
            aria-label="Close" mdbWavesEffect
            (click)="cancel()">

          <i class="fa fa-ban left mr-2" aria-hidden="true"></i>Cancel
        </button>

      </div>



    </form>

  </mdb-card-body>



</mdb-card>
