<!-- Category Details -->
<div *ngIf="observer$ | async; else progress" class="w-responsive h-responsive mt-3 mb-3 center ml-auto mr-auto">
  <!-- Breadcrumbs navigation -->
  <mdb-card>
    <h6 class="pt-2 text-center">
      <!-- Provider -->
      <div *ngIf="!isAdmin">
        <i (click)="redirectToProviderHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/home">Home</a>
        <span> / </span>
        <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
        <span> / </span>
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories">Categories</a>
        <span> / </span>
        <span>Details</span>
      </div>

      <!-- Admin -->
      <div *ngIf="isAdmin">
        <i (click)="redirectToAdminHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/home">Home</a>
        <span> / </span>
        <a routerLink="/admin-dashboard/workspace/users">Users</a>
        <span> / </span>
        <a routerLink="/admin-dashboard/workspace/users/{{userId}}/providers">Providers</a>
        <span> / </span>
        <a routerLink="/admin-dashboard/workspace/users/{{userId}}/providers/{{providerId}}/categories">Categories</a>
        <span> / </span>
        <span>Details</span>
      </div>
     
    </h6>

    <hr>

    <mdb-card-body>
      <div class="row">
        <div class="col-lg-5">
          <div class="view">
            <img class="d-block w-100 rounded" src="{{category.url}}" alt="provider image">
          </div>
        </div>

        <div class="col-lg-7">
          <h4 class="h4-responsive font-weight-bold">
            <strong>{{category.name}}</strong>
          </h4>
          <p class="text-muted">{{category.providerName}}</p>

          <p  class="card-text font-comments" *ngIf="category.description.length > 0">
            {{category.description}}
          </p>
        </div>
      </div>

    </mdb-card-body>

    <mdb-card-footer>
      <h4 class="text-center">
        <!-- Add Product -->
        <a *ngIf="!isAdmin" (click)="redirectToEditProduct()">
          <mdb-badge class="mr-2" color="pink">Add product</mdb-badge>
        </a>

        <!-- List Products -->
        <a (click)="redirectToProductWorkspace()">
          <mdb-badge class="mr-2 mt-2" color="purple darken-2">List products</mdb-badge>
        </a>
      </h4>
    </mdb-card-footer>

  </mdb-card>
  
</div>

<ng-template #progress>
  <app-circle-progress [state]="state"></app-circle-progress>
</ng-template>
