<!-- Category Details -->
<div *ngIf="observer$ | async; else progress" class="w-responsive h-responsive mt-3 mb-3 center ml-auto mr-auto">
  <!-- Breadcrumbs navigation -->
  <mdb-card>
    <h6 class="h6-responsive pt-3 card-text">
      <!-- Provider -->
      <div *ngIf="!isAdmin">
        <i (click)="redirectToProviderHome()" class="fa fa-home prefix ml-3 mr-2" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/home">Home</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/details">{{category.providerName}}</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories">Categories</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <span>Details</span>
      </div>

      <!-- Admin -->
      <div *ngIf="isAdmin">
        <i (click)="redirectToAdminHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/home">Home</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/users">Users</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a>{{user.displayName}}</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/users/{{userId}}/providers">Providers</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/users/{{userId}}/providers/{{providerId}}/details">{{category.providerName}}</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/users/{{userId}}/providers/{{providerId}}/categories">Categories</a>
        <i class="fa fa-caret-right prefix ml-1 mr-1" aria-hidden="true"></i>
        <span>Details</span>
      </div>
     
    </h6>

    <hr>

    <mdb-card-body>
      <div class="row">
        <div class="col-lg-5">
          <div class="view">
            <img class="d-block w-100 rounded animated fadeInLeft" src="{{category.url}}" alt="provider image">
          </div>
        </div>

        <div class="col-lg-7">
          <h4 class="h4-responsive font-weight-bold">{{category.name}}</h4>
          <p  class="card-text small-font" *ngIf="category.description.length > 0">
            {{category.description}}
          </p>
        </div>
      </div>

    </mdb-card-body>

    <mdb-card-footer>
      <h5 class="mb-3">
        <!-- Add Product -->
        <a *ngIf="!isAdmin" (click)="redirectToEditProduct()">
          <mdb-badge class="mr-2 mt-3 py-2" color="blue darken-3">
            <i class="fa fa-plus prefix mr-2" aria-hidden="true"></i>Product
          </mdb-badge>
        </a>

        <!-- List Products -->
        <a (click)="redirectToProductWorkspace()">
          <mdb-badge class="mr-2 mt-3 py-2" color="blue darken-1">
            <i class="fa fa-list-ol prefix mr-2" aria-hidden="true"></i>Products
          </mdb-badge>
        </a>
      </h5>
    </mdb-card-footer>

  </mdb-card>
  
</div>

<ng-template #progress>
  <app-circle-progress [state]="state"></app-circle-progress>
</ng-template>
