<!-- Main Navigation-->
<header>

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg
    scrolling-navbar double-nav navbar-dark bg-primary" [containerInside]="false">

    <!-- SideNav slide-out button -->
    <navlinks class="navbar-container">

      <div class="white-text">
        <a (click)="drawer.toggle()" class="button-collapse waves-effect" mdbWavesEffect>
          <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </a>
      </div>

    </navlinks>
    <!--SideNav slide-out button -->

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">

        <!-- Contact -->
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span class="clearfix d-none d-sm-inline-block">Contact</span>
          </a>
        </li>

        <!-- Support -->
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <span class="clearfix d-none d-sm-inline-block">Support</span>
          </a>
        </li>

        <!-- My Account -->
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user mr-1" aria-hidden="true"></i>{{currentUser.email}}
          </a>

          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">

            <!-- Menu item Settings  -->
            <a class="dropdown-item" href="#">
              <i class="fa fa-cog mr-2" aria-hidden="true"></i>Settings
            </a>

            <!-- Menu item Log out  -->
            <a class="dropdown-item" (click)="SignOut()">
              <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Log out
            </a>

          </div>

        </li>

      </ul>

    </navlinks>

  </mdb-navbar>
  <!-- Navbar -->


  <!-- Sidebar Material-->
  <mat-sidenav-container class="sidenav-container fixed-top">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="!(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async)">

      <mat-nav-list>

        <div class="list-group list-group-flush">
          <!-- Options Providers -->
          <a routerLink="providers" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-home mr-2" aria-hidden="true"></i>Providers
          </a>

          <!-- Options Products -->
          <a routerLink="products" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Products
          </a>

          <!-- Options Categories -->
          <a routerLink="categories" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-file-text mr-2" aria-hidden="true"></i>Categories
          </a>

          <!-- Options Cashiers -->
          <a routerLink="cashiers" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>Cashiers
          </a>

          <!-- Options Orders -->
          <a routerLink="orders" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>Orders
          </a>

        </div>

      </mat-nav-list>

    </mat-sidenav>

  </mat-sidenav-container>
  <!-- Sidebar Material-->

</header>
<!-- Main Navigation -->
