<!-- Product Details -->
<div *ngIf="observer$ | async; else progress" class="w-responsive mt-3 mb-3 center ml-auto mr-auto">
  <!-- Breadcrumbs -->
  <mdb-card>
    <h6 class="pt-2 text-center">
      <i (click)="redirectToHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
      <a routerLink="/provider-dashboard/workspace/home">Home</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers/{{product.providerId}}/categories">Categories</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers/{{product.providerId}}/categories/{{product.categoryId}}/products">Products</a>
      <span> / </span>
      <span>Details</span>
    </h6>
  </mdb-card>

  <mdb-card class="mt-2">
    <!-- Card Header -->
    <img class="card-img-top" src={{product.url}}
        alt="Provider image" title="{{product.name}}">

    <!--Card content-->
    <mdb-card-body class="px-lg-5">
      <!-- Name -->
      <mdb-card-text class="mt-4">
        <h6>Name: {{product.name}}</h6>
      </mdb-card-text>

      <!-- Provider  -->
      <mdb-card-text class="mt-2">
        <h6>Provider: {{product.providerName}}</h6>
      </mdb-card-text>

      <!-- Category  -->
      <mdb-card-text class="mt-2">
        <h6>Category: {{product.categoryName}}</h6>
      </mdb-card-text>

      <!-- Price -->
      <mdb-card-text class="mt-2">
        <h6>Price: {{product.price}}</h6>
      </mdb-card-text>

      <!-- Description -->
      <mdb-card-text class="mt-2">
        <h6>Description: {{product.description}}</h6>
      </mdb-card-text>

    </mdb-card-body>

  </mdb-card>

</div>

<ng-template #progress>
  <app-circle-progress></app-circle-progress>
</ng-template>
