.progress-container {
    height: 10em;
    position: relative
  }
  
  .progress-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  .progress-container h5 {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 45%;
    margin-right: -55%;
    transform: translate(-50%, -50%)
  }
  