<!-- Edit Cashier -->
<mdb-card id="header" class="w-responsive mt-3 center ml-auto mr-auto">

  <!-- Card Header -->
  <mdb-card-header class="text-center">
    <h3 class="text-center mt-1">
      <span class="badge badge-primary waves-light ml-2">
        <strong> {{title}} </strong>
      </span>
    </h3>

    <h6 class="pt-1">
      <i (click)="redirectToHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
      <a routerLink="/provider-dashboard/workspace/home">Home</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers/{{currentProvider.id}}/cashiers">Cashiers</a>
      <span> / </span>
      <span class="text-capitalize">{{mode}}</span>
    </h6>

  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5">

    <form [formGroup]="editForm">

      <!-- Name -->
      <div class="md-form form-sm mt-2">
        <input mdbInputDirective type="text" class="form-control"
            id="formName" formControlName="name"
            [errorMessage]="nameError"
            [validateSuccess]="false">

        <label for="formName">Name</label>
      </div>

      <!-- Email -->
      <div class="md-form form-sm mt-1">
        <input mdbInputDirective type="email" class="form-control"
            id="formEmail" formControlName="email"
            [validateSuccess]="false"
            [errorMessage]="emailError">

        <label for="formEmail">Email</label>
      </div>

      <div class="float-right mt-2">

        <button mdbBtn
            color="primary"
            class="relative waves-light right" mdbWavesEffect
            (click)="editCashier()">

          <!-- Create Mode -->
          <div *ngIf="!edit" >
            <i class="fa fa-plus left mr-2" aria-hidden="true"></i>Create
          </div>

          <!-- Edit Mode -->
          <div *ngIf="edit">
            <i class="fa fa-floppy-o left mr-2" aria-hidden="true"></i>Save
          </div>

        </button>

        <!-- Button Cancel -->
        <button mdbBtn
            outline="true" color="primary"
            aria-label="Close" mdbWavesEffect
            (click)="cancel()">

          <i class="fa fa-ban left mr-2" aria-hidden="true"></i>Cancel
        </button>

      </div>

    </form>

  </mdb-card-body>

</mdb-card>
