<!-- Provider Details -->
<div *ngIf="observer$ | async; else progress" class="w-responsive h-responsive mr-auto ml-auto mt-3">
  <!-- navigation -->
  <mdb-card>
    <h6 class="h6-responsive mt-2 text-center">
      <!-- Provider -->
      <div *ngIf="userRole === 'provider'">
        <i (click)="redirectToProviderHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/home">Home</a>
        <span> / </span>
        <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
        <span> / </span>
        <span>Details</span>
      </div>

      <!-- Admin -->
      <div *ngIf="userRole === 'admin'">
        <i (click)="redirectToAdminHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
        <a routerLink="/admin-dashboard/workspace/home">Home</a>
        <span> / </span>
        <a routerLink="/admin-dashboard/workspace/users">Users</a>
        <span> / </span>
        <a routerLink="/admin-dashboard/workspace/users/{{userId}}/providers">Providers</a>
        <span> / </span>
        <span>Details</span>
      </div>
    </h6>

    <hr>

    <mdb-card-body>
      <div class="row">
        <div class="col-lg-5">
          <div class="view">
            <img class="d-block w-100 rounded animated fadeInLeft" src="{{provider.url}}" alt="provider image">
          </div>
        </div>
  
        <div class="col-lg-7">
          <h4 class="h4-responsive font-weight-bold">
            <strong>{{provider.name}}</strong>
          </h4>

          <div class="d-flex">
            <i class="fa fa-map-marker fa-fw mr-2" aria-hidden="true"></i>
            <p class="text-muted">{{provider.address.formattedAddress}}</p>
          </div>

          <p  class="card-text font-comments" *ngIf="provider.description.length > 0">
            {{provider.description}}
          </p>
        </div>
      
      </div>
    </mdb-card-body>

    <mdb-card-footer>
      <h4 class="text-center mb-3">
         <!-- Add category -->
        <a *ngIf="!isAdmin" routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories/create">
          <mdb-badge class="mr-2 mt-3" color="red">Add category</mdb-badge>
        </a>

        <!-- List categories -->
        <!-- Provider -->
        <a *ngIf="!isAdmin" routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories">
          <mdb-badge class="mr-2 mt-3" color="cyan">List categories</mdb-badge>
        </a>
        <!-- Admin -->
        <a *ngIf="isAdmin" routerLink="/admin-dashboard/workspace/users/{{userId}}/providers/{{providerId}}/categories"> 
          <mdb-badge class="mr-2 mt-3" color="cyan">List categories</mdb-badge>
        </a>

        <!-- Add cashier -->
        <a *ngIf="!isAdmin" routerLink="/provider-dashboard/workspace/providers/{{providerId}}/cashiers/create">
          <mdb-badge class="mr-2 mt-3" color="amber darken-2">Add cashier</mdb-badge>
        </a> 

        <!-- List cashiers -->
        <!-- Provider -->
        <a *ngIf="!isAdmin" routerLink="/provider-dashboard/workspace/providers/{{providerId}}/cashiers">
          <mdb-badge class="mr-2 mt-3" color="pink">List cashiers</mdb-badge>
        </a> 
        <!-- Admin -->
        <a *ngIf="isAdmin" routerLink="/admin-dashboard/workspace/users/{{userId}}/providers/{{providerId}}/cashiers">
          <mdb-badge class="mr-2 mt-3" color="pink">List cashiers</mdb-badge>
        </a>

        <!-- List orders -->
        <!-- Provider -->
        <a *ngIf="!isAdmin" routerLink="/provider-dashboard/workspace/providers/{{providerId}}/orders">
          <mdb-badge class="mr-2 mt-3" color="purple darken-2">List orders</mdb-badge>
        </a>
        <!-- Admin -->
        <a *ngIf="isAdmin" routerLink="/admin-dashboard/workspace/users/{{userId}}/providers/{{providerId}}/orders">
          <mdb-badge class="mr-2 mt-3" color="purple darken-2">List orders</mdb-badge>
        </a>
      </h4>
    </mdb-card-footer>
  </mdb-card>

</div>

<ng-template #progress>
  <app-circle-progress [state]="state"></app-circle-progress>
</ng-template>
