<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

      <!-- Material form login -->
      <mdb-card class="w-responsive mt-4">

        <!--Card Header-->
        <mdb-card-header class="primary-color white-text text-center py-4">
          <h5>
            <strong>Sign in</strong>
          </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5">

          <form [formGroup]="loginForm" class="tc-custom">
            <!-- Email -->
            <div class="md-form form-sm mt-1">
              <i class="fa fa-user prefix" aria-hidden="true"></i>
              <input mdbInputDirective type="email" class="form-control"
                id="formEmail" data-error="invalid email"
                data-success="valid email" formControlName="email">

              <label for="formEmail">Email</label>
            </div>

            <!-- Password -->
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix" aria-hidden="true"></i>
              <input mdbInputDirective type="password" class="form-control"
                id="formPassword" data-error="password must be at least 6 character"
                data-success="valid password" minlength="6" formControlName="password">

              <label for="formPassword">Password</label>
            </div>

            <div class="d-flex justify-content-around font-small">
              <div>
                <!-- Remember me -->
                <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
              </div>

              <div>
                <!-- Forgot password -->
                <a routerLink="/auth/forgot-password" routerLinkActive="active">Forgot password?</a>
              </div>
            </div>

            <div class="text-center">
              <!-- Sign in button -->
              <button [disabled]="loading" class="btn btn-primary btn-block my-4 waves-light btn-round-xs"
                type="submit" (click)="login()">Sign in<i class="fa fa-sign-in ml-2" aria-hidden="true"></i>
              </button>
            </div>

            <!-- Notification Container -->
            <div toastContainer></div>

            <div class="text-center font-small mt-0 mb-0">
              <!-- Register -->
              <p>Not registered?
                  <a routerLink="/auth/register" routerLinkActive="active">Create an account</a>
              </p>

              <!-- Google +-->
              <button mdbBtn type="button" class="btn-round-xs" color="primary" outline="true" mdbWavesEffect>
                Sign in with
                <img src="../../../assets/img/google_logo.png" class="img-fluid mx-auto" alt="google icon">
              </button>

              <!-- <button class="btn btn-outline-primary my-4 btn-round-xs"
                  type="submit">Sign in with <img src="../../../assets/img/google_logo.png" class="img-fluid mx-auto" alt="google icon">
              </button> -->

            </div>

          </form>

        </mdb-card-body>

      </mdb-card>

    </div>

  </div>

</div>

