<!-- Edit Product -->
<div class="w-responsive mt-3 center ml-auto mr-auto">

  <mdb-card id="header">
    <!-- Card Header -->
    <mdb-card-header class="text-center">
      <h3 class="mt-1">
        <span class="badge badge-primary waves-light ml-2">
          <strong> {{title}} </strong>
        </span>
      </h3>

      <h6 class="pt-1">
        <i (click)="redirectToHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
        <a routerLink="/provider-dashboard/workspace/home">Home</a>
        <span> / </span>
        <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
        <span> / </span>
        <a routerLink="/provider-dashboard/workspace/providers/{{provId}}/categories">Categories</a>
        <span> / </span>
        <a routerLink="/provider-dashboard/workspace/providers/{{provId}}/categories/{{catId}}/products">Products</a>
        <span> / </span>
        <span class="text-capitalize">{{mode}}</span>
      </h6>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5">

      <form [formGroup]="editForm">
        <!-- Name -->
        <div class="md-form form-sm mt-2">
          <input mdbInputDirective type="text" class="form-control"
            id="formName" formControlName="name"
            [validateSuccess]="false"
            [errorMessage]="nameError">

          <label for="formName">Name</label>
        </div>

        <!-- Price -->
        <div class="md-form form-sm mt-2">
          <input mdbInputDirective type="number" class="form-control"
            id="formPrice" formControlName="price"
            [errorMessage]="priceError"
            [validateSuccess]="false">

          <label for="formPrice">Price</label>
        </div>

        <!-- File input component -->
      <app-file-input (filesInfo)="onSelectedFiles($event)"></app-file-input>

        <!-- Description -->
        <div class="md-form form-sm mt-2">
          <textarea class="md-textarea md-textarea-auto form-control"
              id="formDescription" formControlName="description"
              mdbInputDirective type="text"
              [validateSuccess]="false"
              data-error="character not allowed"></textarea>

          <label for="formDescription">Description</label>
        </div>

        <div class="float-right mt-2">
          <button mdbBtn
              color="primary"
              class="relative waves-light right" mdbWavesEffect
              (click)="editProduct()">

            <!-- Create Mode -->
            <div *ngIf="!edit" >
              <i class="fa fa-plus left mr-2" aria-hidden="true"></i>Create
            </div>

            <!-- Edit Mode -->
            <div *ngIf="edit">
              <i class="fa fa-floppy-o left mr-2" aria-hidden="true"></i>Save
            </div>

          </button>

          <!-- Button Cancel -->
          <button mdbBtn
              outline="true" color="primary"
              aria-label="Close" mdbWavesEffect
              (click)="cancel()">

            <i class="fa fa-ban left mr-2" aria-hidden="true"></i>Cancel
          </button>

        </div>

      </form>

    </mdb-card-body>

  </mdb-card>

</div>
