<!-- Category Details -->
<div *ngIf="observer$ | async; else progress" class="w-responsive mt-3 mb-3 center ml-auto mr-auto">
  <!-- Breadcrumbs navigation -->
  <mdb-card>
    <h6 class="pt-2 text-center">
      <i (click)="redirectToHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
      <a routerLink="/provider-dashboard/workspace/home">Home</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories">Categories</a>
      <span> / </span>
      <span>Details</span>
    </h6>
  </mdb-card>

  <!-- Category content -->
  <mdb-card class="mt-2">
    <!-- Card Header -->
    <img class="card-img-top" src={{category.url}}
      alt="Provider image" title="{{category.name}}">

    <!--Card content-->
    <mdb-card-body class="px-lg-5">
      <!-- Name -->
      <h5 class="mt-2">
        <strong>
          <p class="dark-grey-text">Name: {{category.name}}</p>
        </strong>
      </h5>

      <!-- Description -->
      <h6 *ngIf="category.description.length > 0" class="mt-1">
        Description: {{category.description}}
      </h6>

      <!-- Provider -->
      <h5 class="mt-1 mb-2">
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/details">
          <span class="badge badge-pill indigo mr-2">{{category.providerName}}</span>
        </a>
      </h5>


    </mdb-card-body>

    <mdb-card-footer>
      <h4 class="text-center">
        <!-- Add Product -->
        <a (click)="redirectToEditProduct()">
          <mdb-badge class="mr-2" color="pink">Add product</mdb-badge>
        </a>

        <!-- List Products -->
        <a (click)="redirectToProductWorkspace()">
          <mdb-badge class="mr-2 mt-2" color="purple darken-2">List products</mdb-badge>
        </a>
      </h4>
    </mdb-card-footer>

  </mdb-card>

</div>

<ng-template #progress>
  <app-circle-progress></app-circle-progress>
</ng-template>
