i, span {
  cursor: pointer;
}

.mat-fab {
  font-size: 1.1rem;
  position: fixed;
  bottom: 3rem;
  right: 1.4rem;
}

img {
  max-width: 80px;
  max-height: 80px;
}

tr:hover td,
tr:hover th {
  background: none !important;
}
