<!-- Provider Details -->
<div *ngIf="true" class="w-responsive mt-3 mb-3 ml-auto">
  <!-- navigation -->
  <mdb-card class="w-responsive">
    <h6 class="pt-2 text-center">
      <i (click)="redirectToHome()" class="fa fa-home prefix mr-2" aria-hidden="true"></i>
      <a routerLink="/provider-dashboard/workspace/home">Home</a>
      <span> / </span>
      <a routerLink="/provider-dashboard/workspace/providers">Providers</a>
      <span> / </span>
      <span>Details</span>
    </h6>
  </mdb-card>

  <!-- Image with Provider details -->
  <div class="w-responsive h-75 card card-image-top" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
    <div class="h-100 text-white text-center d-flex align-items-center rgba-black-strong px-3">
      <div>
        <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
          Odit sed qui, dolorum!.</p>
      </div>
    </div>
  </div>

  <!-- provider options -->
  <mdb-card class="w-responsive">
    <mdb-card-footer>
      <h4 class="text-center mb-3">
        <!-- List categories -->
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories">
          <mdb-badge class="mr-4 mt-3" color="cyan">List categories</mdb-badge>
        </a>

        <!-- List cashiers -->
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/cashiers">
          <mdb-badge class="mr-4 mt-3" color="pink">List cashiers</mdb-badge>
        </a>

        <!-- List cashiers -->
        <a href="">
          <mdb-badge class="mr-4 mt-3" color="purple darken-2">List orders</mdb-badge>
        </a>

        <!-- Add category -->
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/categories/create">
          <mdb-badge class="mr-4 mt-3" color="red">Add category</mdb-badge>
        </a>

        <!-- Add cashier -->
        <a routerLink="/provider-dashboard/workspace/providers/{{providerId}}/cashiers/create">
          <mdb-badge class="mr-4 mt-3" color="amber darken-2">Add cashier</mdb-badge>
        </a>
      </h4>

    </mdb-card-footer>
  </mdb-card>

<ng-template #progress>
  <app-circle-progress [failed]="failed"></app-circle-progress>
</ng-template>
