<!-- Worksapce Provider -->
<div class="mt-4">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <!-- Table -->
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Column Image -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
        <td mat-cell *matCellDef="let provider">
          <img src="{{provider.image}}" alt="provider" class="img-thumbnail mt-2 mb-2">
        </td>
      </ng-container>

      <!-- Column Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let provider"> {{provider.name}} </td>
      </ng-container>

      <!-- Column Address -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let provider"> {{provider.address}} </td>
      </ng-container>

      <!-- Column Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let provider"> {{provider.description}} </td>
      </ng-container>

      <!-- Column Operation -->
      <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let provider">
            <!-- Option Edit -->
            <a type="button" class="waves-light mr-3">
              <i class="fa fa-pencil prefix" aria-hidden="true"></i>
            </a>
            <!-- Option Delete -->
            <a type="button" class="waves-light">
              <i class="fa fa-trash prefix" aria-hidden="true"></i>
            </a>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let provider; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]='[5, 10, 20]' showFirstLastButtons></mat-paginator>

  </div>

  <!-- Floating Action Button -->
  <button mat-fab color="accent">+</button>

</div>
